@tailwind base;
@tailwind components;
@tailwind utilities;

#menu-toggler.active {
    @apply rotate-90;
}

#offcanvas-menu.active {
    @apply opacity-100 visible;
}

.offcanvas-menu__content {
    @apply opacity-0 scale-150
}
#offcanvas-menu.active .offcanvas-menu__content {
    @apply opacity-100 scale-100
}
#offcanvas-menu.active .offcanvas-menu__bg {
    @apply scale-100
}

body.offcanvas-open {
    @apply overflow-hidden pr-2;
}

/* .masonry-grid__item:nth-child(2) {
    margin-top: 3rem;
} */
.masonry-grid__item {
    display: block;
}

@media (min-width: 1024px) {
    .masonry-grid__item:nth-child(2), .masonry-grid__item:nth-child(4) {
        margin-top: 3rem;
    }
}
@media (min-width: 768px) {
    .masonry-grid__item:nth-child(2) {
        margin-top: 3rem;
    }
}

::-webkit-scrollbar {
    @apply w-2;
}
::-webkit-scrollbar-track {
    @apply bg-black;
}
::-webkit-scrollbar-thumb {
    @apply bg-white/20;
}

.form-check-input:checked[type="checkbox"] {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e")
}
